@media (min-width: 768px) {
	.nav {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $white;
		z-index: 150;
		&__mobile {
			display: none;
		}
		&__desktop {
			display: flex;
			background-color: $white;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			font-size: 2.4rem;
			&-menu {
				display: flex;
				.nav-link {
					padding: 1em;
					text-decoration: none;
					color: $dark;
					// transform: color 0.5s background-color 0.5s;
				}
				.active {
					background-color: $dark;
					color: $white;
				}
				.nav-link:hover {
					background-color: $dark;
					color: $white;
				}
			}
			&-logo {
				.nav-link {
					padding: 1em;
					font-size: 2.4rem;
					text-decoration: none;
					color: $dark;
					// transform: color 0.5s background-color 0.5s;
				}
			}
		}
		.burger {
			display: none;
		}
	}
	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			// margin: 1em;
			width: 45%;
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box-desktop {
			display: block;
		}
		&__box {
			margin: 0 2em;
			width: 25%;
			&:first-child {
				width: 50%;
			}
		}
		&__box-logo {
			font-size: 3.8rem;
		}
		&__box-title {
			margin-bottom: 1em;
			font-size: 2rem;
			text-transform: uppercase;
		}
		&__box-list {
			list-style: none;
		}
		&__box-list-item {
			margin-bottom: 1em;
			a {
				color: $dark;
				text-decoration: none;
			}
		}
	}
}
