@media (min-width: 576px) {
	.aboutus {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			&-text {
				width: 55%;
			}
			&-img {
				width: 40%;
			}
		}
		&__img {
			margin-bottom: 0;
			min-height: 300px;
		}
	}
}
