@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-heading {
	text-align: center;
	font-size: 4rem;
	font-weight: normal;
	text-transform: uppercase;
	margin: 1.5em auto;
}

.nav {
	&__desktop {
		display: none;
	}
	&__mobile {
		display: flex;
		flex-direction: column;
		padding-top: 50px;
		position: absolute;
		height: 100vh;
		width: 100vw;
		left: -100vw;
		list-style: none;
		background-color: $white;
		transition: transform 0.3s;
		z-index: 100;
		.nav-link {
			display: block;
			padding: 10px 30px;
			font-size: 3.2rem;
			text-align: center;
			margin: 0.5em;
			color: $black;
			text-decoration: none;
		}
	}
	.burger {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px 20px;
		font-size: 36px;
		background: none;
		border: none;
		cursor: pointer;
		color: $black;
		transition: transform 0.3s;
		z-index: 101;
		.fa-bars {
			color: $white;
		}
	}
	.show {
		transform: translateX(100vw);
	}
	.hide {
		display: none;
	}
}
// HEADER
.header {
	position: relative;
	height: 450px;
	width: 100%;
	background-image: url(../img/jungle-small.jpg);
	background-size: cover;
	background-position: center;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $shade;
	}
	&__hero {
		position: relative;
		height: 100%;
		color: $white;
		padding: 10px;
		z-index: 12;
		display: flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		// &-text {
		// 	// font-size: 2.8rem;
		// }
	}
}

// MAIN
// SECTION ABOUTUS
.aboutus {
	margin: 2em 0;
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
		padding: 1em;
	}
	&__img {
		width: 100%;

		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.5em;
		font-size: 2.6rem;
	}
	&__text {
		font-size: 1.6rem;
		line-height: 2;
	}
}
.hero-img {
	position: relative;
	padding: 10em 2em;
	max-height: 350px;
	background-image: url(../img/girl-small.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: $white;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $shade;
	}
	&__title {
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -30%);
		font-size: 2.4rem;
		padding: 1em;
		// margin: 1em;
		border: 2px solid $white;
		z-index: 1;
	}
}

.offer {
	&__cards {
		margin-bottom: 3em;
	}
	&__card {
		position: relative;
		margin: 1em auto 3em;
		max-width: 400px;
		height: 450px;
		color: $dark;
		text-align: center;

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			margin: 1em;
			padding: 2em;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 8px;
			box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-size: 2.8rem;
			}
			&-text {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.5em;
				font-weight: bold;
				font-size: 5rem;
			}
			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;
				text-align: left;
				&-item {
					padding: 0.5em;
					font-size: 1.4rem;
					.fa-check {
						color: $green;
					}
					.fa-minus {
						color: $red;
					}
				}
			}
			&-btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2em;
				padding: 0.5em;
				border-radius: 8px;
				font-size: 2rem;
				width: 60%;
				border: none;
				box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
				background: none;
				cursor: pointer;
			}
			.preferred {
				background-color: $darkGreen;
				box-shadow: 0px 0px 10px 0px rgba(33, 199, 55, 1);
			}
		}
	}
	&__other {
		&-text {
			font-size: 2.4rem;
			padding: 10px;
			text-align: center;
			a {
				text-transform: uppercase;
				color: $dark;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}

// KONTAKT
.contact {
	position: relative;
	margin: 3em auto;
	padding: 1em;
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}
	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}
	&__form-input,
	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
		box-shadow: -1px 0px 8px -1px rgba(66, 68, 90, 1);
	}
	&__form-textarea {
		max-width: 100%;
		min-width: 100%;
		min-height: 150px;
	}
	&__form-btn {
		align-self: center;
		padding: 0.75em;
		width: 100%;
		max-width: 300px;
		font-size: 1.8rem;
		color: $dark;
		border: none;
		border-radius: 8px;
		background-color: $darkGreen;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: white;
		}
	}
	.google-maps {
		margin-top: 3em;
		position: relative;
		padding-bottom: 75%;
		height: 0;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}

// FOOTER
.footer {
	background-color: $light;
	.wrapper {
		padding: 6em 2em 2em;
	}
	&__box {
		font-size: 1.4rem;
	}
	&__box-desktop {
		display: none;
	}
	&__box-logo {
		margin-bottom: 1em;
		font-size: 6rem;
		.nav-link {
			display: inline-block;
			padding: 0 auto;
			text-decoration: none;
			color: $dark;
		}
	}
	&__bottom-text {
		padding: 1em;
		text-align: center;
	}
}

@import './small';
@import './medium';
@import './large';
